* {
    box-sizing: border-box;
}

body {
    font-family: 'HelveticaNeue', sans-serif;
    font-size: 12px;
    background-image: url("img/bg.png");
    background: repeat;
    color: #474747;
}

/*Add an element before the body called pseudoelementos*/

body::before {
    content: '';
    display: block;
    width: 100%;
    height: 7px;
    /*El 0.7 es cierta transparencia*/
    background-color: rgba(231, 231, 231, 0.7);
}

.triangle {
    position: absolute;
    width: 0px;
    height: 0px;
    top: 7px;
    left: 48%;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 9px solid #ececec;
}

.main {
    margin: 0 auto;
}

@media (min-width: 992px) {
    .main {
        width: 940px;
    }
}